.about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about-img {
	width: 120px;
	height: 120px;
}

.about-img image {
	width: 100%;
	height: 100%;
}

.about-title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}

.mianze {
	font-size: 12px;
	width: 80%;
	text-align: center;
	position: fixed;
	bottom: 30px;
	color: #999;
}
